.top
    padding-top: 90px
    padding-bottom: 70px
    &__wrapper
        display: flex
        justify-content: space-between
        align-items: center
    &__settings
        width: 40px
        height: auto