@import "variables"
    
.btn
    background: $red
    padding: 16px 50px
    border-radius: 8px
    border: none
    font-style: normal
    font-weight: 400
    font-size: 20px
    line-height: 24px
    color: #FFFFFF
    transition: 0.3s all
    cursor: pointer
    &:hover
        background: #FF3535
    &:active
        background: #FF1515
    &_yellow
        background: $second
        font-style: normal
        font-weight: 400
        font-size: 14px
        color: #000000
        padding: 7px 21px
        &:hover
            background: #FBFF51
        &:active
            background: #FAFF1B