.article
    padding-top: 70px
    padding-bottom: 80px
    max-width: 60%
    &__title
        margin-bottom: 35px
    &__meta
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 50px
        &--info
            display: flex
            h5
                margin-right: 10px
                &:nth-child(2)
                    margin-right: 5px
        img
            width: 31px
            height: auto
            cursor: pointer
    &__content
        &-text
            line-height: 28px
        &-img
            width: 100%
            max-height: 391px
            object-fit: cover
            border-radius: 10px
        &-item
            margin-bottom: 40px
            &:last-child
                margin-bottom: 0

.similar
    &__title
        margin-bottom: 50px
