@import "../../styles/variables"

.sort
    display: flex
    margin-left: 30px
    &-item
        position: relative
        padding: 15px 20px
        border-width: 1px 1px 1px 1px
        border-style: solid
        border-color: #C4C4C4
        background: #FFFFFF
        transition: 0.5s all
        cursor: pointer
        h5
            transition: 0.5s all
            width: max-content
        &:first-child
            border-top-left-radius: 10px
            border-bottom-left-radius: 10px
        &:last-child
            border-top-right-radius: 10px
            border-bottom-right-radius: 10px
        &:hover
            background: $light_red
        &_active
            background: $red
            border-color: $red
            &:hover
                background: $red
        &--img
            padding: 0
            padding-left: 15px
            padding-right: 15px
            display: flex
            img
                width: 33px
                height: auto
        &--date
            width: max-content