.themes
    &__wrapper
        display: flex
        justify-content: space-between
        .btn
            padding: 16px 18px
    &__content
        width: calc( 100% * 2 / 3 )
    &-item
        margin-bottom: 50px
        &:last-child
            margin-bottom: 0
        &__title
            margin-bottom: 40px
            a
                text-decoration: none
                color: black
    &__title
        margin-bottom: 60px
    &__extra
        h4
            font-weight: 400
            margin-top: 60px